## Deliverable 3. Create a Travel Itinerary Map.

In [156]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [157]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,1,Tigzirt,DZ,86.36,clear sky,36.89,4.12,Appartement de la plage
1,3,Atuona,PF,78.21,light rain,-9.80,-139.03,Villa Enata
2,4,Meulaboh,ID,80.46,light rain,4.14,96.13,Kost Pria
3,10,Naze,JP,84.20,broken clouds,28.37,129.48,奄美ポートタワーホテル
4,18,Labuhan,ID,80.56,few clouds,-6.88,112.21,bador sepret

In [158]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [159]:
# 4a. Add a marker layer for each city to the map.
max_temp = vacation_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [160]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[(vacation_df["City"] == 'Temple Terrace')]
vacation_end = vacation_df.loc[(vacation_df["City"] == 'Temple Terrace')]
vacation_stop1 = vacation_df.loc[(vacation_df["City"] == 'Russell')]
vacation_stop2 = vacation_df.loc[(vacation_df["City"] == 'Madisonville')] 
vacation_stop3 = vacation_df.loc[(vacation_df["City"] == 'Fayetteville')]

In [165]:
vacation_start

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
103,363,Temple Terrace,US,89.01,broken clouds,28.04,-82.39,La Quinta Inn & Suites by Wyndham USF (Near Bu...

In [188]:
vacation_stop1

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
46,194,Russell,US,80.6,broken clouds,32.35,-85.2,Macs

In [189]:
vacation_stop2

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
48,198,Madisonville,US,78.8,broken clouds,37.33,-87.5,Days Inn by Wyndham Madisonville

In [190]:
vacation_stop3

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
171,531,Fayetteville,US,82.4,overcast clouds,35.05,-78.88,American Eagle Inn

In [162]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = (vacation_start.to_numpy()[0,5], vacation_start.to_numpy()[0,6])
end = (vacation_end.to_numpy()[0,5], vacation_end.to_numpy()[0,6])
stop1 = (vacation_stop1.to_numpy()[0,5], vacation_stop1.to_numpy()[0,6])
stop2 = (vacation_stop2.to_numpy()[0,5], vacation_stop2.to_numpy()[0,6])
stop3 = (vacation_stop3.to_numpy()[0,5], vacation_stop3.to_numpy()[0,6])

In [164]:
start

(28.04, -82.39)

In [191]:
stop1

(32.35, -85.2)

In [192]:
stop2

(37.33, -87.5)

In [193]:
stop3

(35.05, -78.88)

In [195]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".

fig = gmaps.figure()
itinerary = gmaps.directions_layer(start, end, waypoints=[stop1, stop2, stop3], travel_mode='BICYCLING')
fig.add_layer(itinerary)
fig

Figure(layout=FigureLayout(height='420px'))

In [181]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,363,Temple Terrace,US,89.01,broken clouds,28.04,-82.39,La Quinta Inn & Suites by Wyndham USF (Near Bu...
1,194,Russell,US,80.60,broken clouds,32.35,-85.20,Macs
2,198,Madisonville,US,78.80,broken clouds,37.33,-87.50,Days Inn by Wyndham Madisonville
3,531,Fayetteville,US,82.40,overcast clouds,35.05,-78.88,American Eagle Inn

In [182]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [187]:
# 11a. Add a marker layer for each city to the map.
max_temp = itinerary_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))